@model IEnumerable<SistemaAutomoviles.Models.Automovil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_transmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_fisica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_transmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_fisica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FolioAuto }) |
            @Html.ActionLink("Details", "Details", new { id=item.FolioAuto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FolioAuto })
        </td>
    </tr>
}

</table>
